* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* --------------- Heading ----------------- */

header .container {
    background-color: #252525;
    text-align: center;
    padding: 30px;
}

.heading {
    font-family: rift-soft, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
    letter-spacing: 3px;
    line-height: 1em;

    color: #E7B969;
}

.subtitle {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;

    color: #ffffff;
}

/* --------------- Color section ----------------- */

#color .container {
    display: flex;
    justify-content: center;

    margin: 100px 0;
}

.color-container  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 650px;
    margin-right: 60px;
}

.color-container h2 {
    margin-bottom: 20px;
}

.color-container .main-colors {
    display: flex;
    gap: 1.8em;
    
    margin-bottom: 60px;
}

/*-------------- Colors hue -----------*/

.color-container .hue-container {
    text-align: center;
}

.color-container .hue-container .hue {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    width: 134px;
    height: 134px;
    border-radius: 16px;

    background-color: #252525;
}

.color-container .hue.orange {
    background-color: #D77B24;
}

.color-container .hue.black {
    background-color: #252525;
}

.color-container .hue.yellow {
    background-color: #E7B969;
}

.color-container .hue.deep-blue {
    background-color: #004A60;
}

.color-container .hue.turquoise {
    background-color: #17A096;
}

.color-container .hue.pink-sherbet {
    background-color: #E38C85;
}

.color-container .hue.deep-red {
    background-color: #B22132;
}

/* ------------ END of color Hue ------------------- */

.hue-container p {
    margin-top: 14px;

    font-weight: 700;
    font-size: 14px;
}

.color-container .complementary-colors {
    display: flex;
    gap: 1.8em;
}

/* paragraph color */

.paragraph {
    width: 300px;
    padding: 40px 35px;
    border-radius: 16px;

    background-color: #F5F5F4;

    font-size: 16px;
    line-height: 1.8em;
}


.color-p p {
    margin-bottom: 12px;
}

/* ------------ FONTS Section ------------------- */

#font .container {
    background-color: #F5F5F4;
}

.font-choices {
    padding: 100px;
    padding-bottom: 150px;
}

.font-choices h1 {
    font-family: rift-soft, sans-serif;
    font-size: 70px;
    color: #D77B24;
}

.font-choices {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.font-choices .font-header {
    width: 865px;
    margin: 0 auto;
}

.font-choices .font-container {
    display: flex;
    justify-content: center;
    gap: 6em;
    align-content: center;
}

.font-choices .font-header h1 {
    margin-bottom: 40px;
}

.font-container h2 {
    margin-bottom: 20px;
}

/* --------------- Format paragraph text ---------------- */
/* ----------------------- Poppins ---------------------- */

.font-container .poppins-font h2 {
    font-size: 30px;
}

.font-container .poppins-font p {
    font-size: 18px;
    margin-bottom: 12px;
}

.font-container .poppins-font .poppins-light {
    font-weight: 300;
}

.font-container .poppins-font .poppins-reg {
    font-weight: 400;
}

.font-container .poppins-font .poppins-medium-it {
    font-weight: 400;
    font-style: italic;
}

.font-container .poppins-font .poppins-bold {
    font-weight: 700;
}

/* --------------- Format paragraph text ---------------- */
/* ----------------------- RiftSoft ---------------------- */

.font-container .rift-font h2 {
    font-family: rift-soft, sans-serif;
    font-size: 36px;
    margin-bottom: 18px;

}

.font-container .rift-font p {
    font-family: rift-soft, sans-serif;
    font-size: 24px;
    margin-bottom: 12px;
}

.font-container .rift-font .rift-light {
    font-weight: 300;
}

.font-container .rift-font .rift-bold {
    font-weight: 700;
}

.font-container .rift-font .rift-medium {
    font-weight: 500;
}