* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* --------------- Heading ----------------- */

header .container {
    background-color: #252525;
    text-align: center;

    padding: 120px;
    margin-bottom: 80px;
}

.heading {
    font-family: rift-soft, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 80px;
    letter-spacing: 3px;
    line-height: 1em;

    color: #E7B969;

    margin-bottom: 10px;
}

.subtitle {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;

    color: #ffffff;
}

/* --------------- Color section ----------------- */

#color {
    margin: auto;
    width: 80%;

    margin-bottom: 100px;
}

.color-title h2 {
    font-family: rift-soft, sans-serif;
    font-size: 3.5em;
    text-align: center;

    margin-bottom: 80px;
}

#color .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.color-container h3 {
    font-size: 2.5em;
    font-family: rift-soft, sans-serif;

    margin-bottom: 20px;
}

.color-container .main-colors {
    display: flex;
    gap: 1.5em;
    
    margin-bottom: 35px;
}

/*-------------- Colors hue -----------*/

.color-container .hue-container {
    text-align: center;
}

.color-container .hue-container .hue {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 16px;

    background-color: #252525;
}

.color-container .hue.orange {
    background-color: #D77B24;
}

.color-container .hue.black {
    background-color: #252525;
}

.color-container .hue.yellow {
    background-color: #E7B969;
}

.color-container .hue.deep-blue {
    background-color: #004A60;
}

.color-container .hue.turquoise {
    background-color: #17A096;
}

.color-container .hue.pink-sherbet {
    background-color: #E38C85;
}

.color-container .hue.deep-red {
    background-color: #B22132;
}

/* ------------ END of color Hue ------------------- */

.hue-container p {
    margin-top: 14px;

    font-weight: 700;
    font-size: 14px;
}

.color-container .complementary-colors {
    display: flex;
    gap: 1.5em;
}

/*------- paragraph color ---------*/

.paragraph {
    width: 300px;
    padding: 40px 35px;
    border-radius: 16px;

    background-color: #F5F5F4;

    font-size: 16px;
    line-height: 1.8em;
}

.color-p h3 {
    margin-bottom: 10px;
}

.color-p p {
    margin-bottom: 8px;
}

/* ------------ FONTS Section ------------------- */
/* ---------------------------------------------- */

#font .container {
    background-color: #F5F5F4;

    display: flex;
    justify-content: center;
}

.font-choices {
    padding: 100px;
    padding-bottom: 150px;
}

.font-choices h1 {
    font-family: rift-soft, sans-serif;
    font-size: 70px;
    color: #D77B24;

    margin-bottom: 30px;
}

.font-choices .font-header {
    width: 865px;
    margin: 0 auto;
}

.font-choices .font-container {
    display: flex;
    justify-content: center;
    gap: 5em;
    align-content: center;
}

.font-choices .font-header h1 {
    margin-bottom: 40px;
}

.font-container h3 {
    margin-bottom: 20px;
}

/* ----------------------- Poppins ---------------------- */

.font-container .poppins-font h2 {
    font-size: 30px;
}

.font-container .poppins-font p {
    font-size: 18px;
    margin-bottom: 12px;
}

.font-container .poppins-font .poppins-light {
    font-weight: 300;
}

.font-container .poppins-font .poppins-reg {
    font-weight: 400;
}

.font-container .poppins-font .poppins-medium-it {
    font-weight: 400;
    font-style: italic;
}

.font-container .poppins-font .poppins-bold {
    font-weight: 700;
}

/* ----------------------- RiftSoft ---------------------- */

.font-container .rift-font h2 {
    font-family: rift-soft, sans-serif;
    font-size: 36px;
    margin-bottom: 18px;

}

.font-container .rift-font p {
    font-family: rift-soft, sans-serif;
    font-size: 24px;
    margin-bottom: 12px;
}

.font-container .rift-font .rift-light {
    font-weight: 300;
}

.font-container .rift-font .rift-bold {
    font-weight: 700;
}

.font-container .rift-font .rift-medium {
    font-weight: 500;
}


/* --------------- Text Styles Section ---------------- */

#text-styles .container {
    background-color: #252525;
    width: 900px;
    border-radius: 60px;

    margin: 130px auto;
    
}

.text-container {
    padding: 90px;
    
}

.text-container h1 {
    font-family: rift-soft, sans-serif;
    font-size: 65px;
    color: #E7B969;
    letter-spacing: 2px;

    margin-bottom: 30px;
}

.text-body-cont {
    display: flex;
    flex-direction: column;
}

.text-smaller-cont {
    display: flex;
    gap: 7em;
}

.main-text {
    margin-bottom: 30px;
}

.main-text h2 {
    font-family: rift-soft, sans-serif;
    font-size: 60px;
    color: #fff;
    letter-spacing: 2px;
}

.text-container ul li {
    color:#fff;
    list-style: none;

    line-height: 1.5rem;
}

.text-smaller-cont h3 {
    color: #fff;
    margin-bottom: 10px;
}

.sub-text h3 {
    font-size: 30px;
}

.paragraph-text h3 {
    font-weight: 300;
    font-size: 16px;
}

/* -------------- Footer ------------------ */

.footer {
    background-color: #E38C85;
    padding: 30px;
    text-align: center;
}



/*------------------- Media Queries -------------------*/
/* ------------------ Small devices ------------------ */

@media only screen and (max-width: 480px) {

    /* ----------------- Header ------------- */

    header .container {
        padding: 10%;
        margin-bottom: 10%;
    }

    .heading {
        font-size: 4.5rem;
    }

    .subtitle {
        font-size: 0.9rem;
    }

    /* ------------ Color Section ----------- */

    #color {
        width: 100%;
    }
    
    .color-title {
        font-size: 0.9rem;
    }

    .color-title h2 {
        margin-bottom: 10%;
    }


    #color .container {
        flex-direction: column;
        gap: 2.8em;

        width: 90%;
        margin: 0 auto;
    }

    .color-container {
        width: 100%;
    }

    .color-container .main-colors,
    .color-container .complementary-colors {
        flex-direction: column;
        gap: 1em;
    }

    .color-container .hue-container .hue {
        width: 100%;
        border-radius: 0;
    }

    .hue-container p {
        margin-top: 8px;
    }

    .paragraph {
        width: 80%;
    }

    /* ------------ Font Section ----------- */

    .font-choices {
        padding: 15% 5%;
    }

    .font-choices .font-container {
        flex-direction: column;
        gap: 3em;

    }

    /* ------------ Text Styles ----------- */
    #text-styles .container {
        width: 100%;
        border-radius: 0;
        margin: 0;
    }

    .text-container {
        padding: 15% 5%;
    }

    .text-container h1 {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }

    .main-text h2 {
        font-size: 3rem;
    }

    .text-smaller-cont {
        flex-direction: column;
        gap: 1.8em;
    }
}


/*------------------- Media Queries -------------------*/
/* -------------- Medium size devices ---------------- */

@media only screen and (min-width: 480px) and (max-width: 1024px) {

    /*-------------- Color section -------------------*/

    #color .container {
        flex-direction: column;
    }

    .color-container {
        width: 100%;
    }

    .paragraph {
        width: 89%;
    }

    /*-------------- Font section -------------------*/

    #font {
        width: 100%;
    
    }

    .font-choices {
        width: 100%;
        padding: 10% 10%;
    }

    .font-choices .font-container {
        flex-direction: column;
        gap: 2em;
    }

    /*-------------- Font section -------------------*/

    #text-styles {
        width: 100%;
    }

    #text-styles .container {
        width: 80%;
    }

    .text-container {
        padding: 10% 10%;
    }

    .text-container h1 {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
    
    .text-smaller-cont {
        flex-direction: column;
        gap: 1.8em;
    }
}